body{
    background:#FCF0F2;
    font-family: Arial, Helvetica, sans-serif;
}

.assignments{
    display: flex;
    flex-wrap: wrap;
}

.assignment {
    width: 22%;
    padding: 10px;
    margin: 10px;
    padding: 20px 10px;
    background:#F29B30;
    border-radius: 5px;
}

.assignment img {
    width: 200px;
    margin: 10px;
    border: 4px solid #87CEFA;
    display: block;
    margin: auto;
}

.assignment img:hover {
    border: 4px solid #faebd7;
}

h1{
    color :#F25B30;
    text-align:center;
}

h1:hover{
    color :#faebd7;
}

h2{
    text-align: center;
}

a {
    text-decoration: none;
    color:#02324F;
}

a:hover {
    color:#faebd7;
}
